<h1>Booking added succesfully!</h1><br>

<% @bookings.each do |booking| %>

  <p> <%= booking.member.full_name() %> • <%= booking.gym_session.gymclass() %> class at <%= booking.gym_session.class_time() %> on <%= booking.gym_session.class_date() %></p>

  <p><div class="show"><a href="/bookings/<%= booking.id %>">Show booking</a></div></p>

  <hr />
<% end %>
