<h1>All bookings</h1>

<% @bookings.each do |booking| %>

  <p> <%= booking.member.full_name() %> • <%= booking.gym_session.gymclass() %> class on <%= booking.gym_session.class_date() %> at <%= booking.gym_session.class_time() %> </p>

  <p> <a href="/bookings/<%= booking.id %>">Show booking</a> </p>

  <hr />
<% end %>
