<h1>Add booking</h1>
<form action="/bookings" method="post">

  <label for="class-select">Select a class: </label>
    <select id="class-select" name="session_id">
     <% @sessions.each do |session| %>
      <option value="<%= session.id().to_i%>"> <%=session.gymclass()%> <%=session.class_date()%> <%=session.class_time()%> </option>
      <% end %>
    </select>
  <br>
  <label for="member-select">Select a member: </label>
    <select id="member-select" name="member_id">
      <% @members.each do |member| %>
      <option value="<%= member.id().to_i %>"> <%= member.full_name() %></option>
     <% end %>
    </select>
  <br>

  <input type="submit" value="Submit">
</form>
