<h1>Class Information</h1><br>

<div class="individuallisting">
  <p><b>Class:</b> <%= @session.gymclass() %> </p>
  <p><b>Instructor:</b> <%= @session.instructor.full_name() %> </p>
  <p><b>Studio:</b> <%= @session.studio() %> </p>
  <p><b>Available spaces:</b> <%= @session.available_spaces() %> </p>
  <p><b>Date:</b> <%= @session.class_date() %> </p>
  <p><b>Time:</b> <%= @session.pretty_time() %> </p>
  <p><b>Duration:</b> <%= @session.duration() %> mins</p>
  <div class="row">
    <div class="col-30">
      <label for="member-select"><b>Members: </b></label>
    </div>
    <div class="col-70">
      <select id="member-select" name="member_id">
        <% @session.members.each do |member| %>
        <option value="<%= member.id().to_i %>"> <%= member.full_name()%></option>
        <% end %>
     </select>
    </div>
  </div><br>

  <form action="/sessions/<%= @session.id %>/edit" method="get" style="display:inline;">
    <input type="submit" value="Edit class">
  </form>

  <form action="/sessions/<%= @session.id %>/delete" method="post" style="display:inline;">
    <input type="submit" value="Delete class">
  </form><br><br>

</div>
