<p>Class: <%= @session.gymclass() %> </p>
<p>Instructor: <%= @session.instructor.full_name() %> </p>
<p>Studio: <%= @session.studio() %> </p>
<p>Available spaces: <%= @session.available_spaces() %> </p>
<p>Date: <%= @session.class_date() %> </p>
<p>Time: <%= @session.class_time() %> </p>
<p>Duration: <%= @session.duration() %> mins</p>
<p>Members:  </p>

<form action="/sessions/<%= @session.id %>/edit" method="get" style="display:inline;">
  <input type="submit" value="Edit class">
</form>

<form action="/sessions/<%= @session.id %>/delete" method="post" style="display:inline;">
  <input type="submit" value="Delete class">
</form>
